In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
filename = ("housing.csv")
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
dataset = pd.read_csv(filename, delim_whitespace=True, names=names)

In [3]:
print(dataset)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296.0
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242.0
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242.0
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222.0
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273.0
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273.0
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273.0
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273.0
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [4]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
#add the target variable
target = dataset['MEDV']

In [6]:
#taking only two features
dataset = dataset.drop(['CRIM','ZN','INDUS','NOX','AGE','DIS','RAD', 'CHAS','PTRATIO','TAX','B'], axis = 1)
features = dataset.drop('MEDV', axis = 1)

In [7]:
dataset.head()

      RM  LSTAT  MEDV
0  6.575   4.98  24.0
1  6.421   9.14  21.6
2  7.185   4.03  34.7
3  6.998   2.94  33.4
4  7.147   5.33  36.2

In [9]:
#setting x1,x2 and y
x1 = features['RM'].values
x2 = features['LSTAT'].values
Y= target.values

In [10]:
#alpha, theta value initialize
x0 = np.ones(len(x1)) 
X = np.array([x0, x1, x2]).T #.T is used to obtain transpose 

theta = np.zeros(3)
Y = np.array(Y)
alpha = 0.0001 #alpha is learning rate

In [11]:
#define cost function
def cost_function(X, Y, theta):
    J_theta = np.sum((X.dot(theta) - Y) ** 2)/(2 * len(Y))
    return J_theta

In [12]:
#initial cost
cost = cost_function(X, Y, theta)
print(cost)

296.0734584980237

In [13]:
def gradientDescent(X, y, theta, alpha, iters):
    cost_iter = [0] * iters
     
    for i in range(iters):
       
        loss = X.dot(theta) - Y      #loss is calculate for all values to divide it by length of y to obtain average loss
        gradient = X.T.dot(loss) / len(Y)      # Gradient Calculation
        theta = theta - alpha * gradient        #update theta value
        cost = cost_function(X, Y, theta)       #update cost value
        cost_iter[i] = cost
        
    return theta, cost_iter

In [14]:
update_theta, cost_history = gradientDescent(X, Y, theta, alpha, 3000)
Y_pred=X.dot(update_theta)

In [ ]:
def mse(Y, Y_pred):
    mse = np.sqrt(sum((Y - Y_pred) ** 2) / len(Y))
    return mse
print(rmse(Y,Y_pred))