In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib inline
import numpy as np
import csv

In [2]:
#read CSV data
data = pd.read_csv('Logisticdataset.csv', skipinitialspace= True, quoting= csv.QUOTE_ALL)
#print(data)
data.head()

       x1      x2    y
0  4.5192  2.6487  1.0
1  2.4443  1.5438  1.0
2  4.2409  1.8990  1.0
3  5.8097  2.4711  1.0
4  6.4423  3.3590  1.0

In [3]:
# Data Preparation 
X1 = data['x1'].values
X2 = data['x2'].values
X=np.array([np.ones(len(X1)), X1, X2])
theta = np.zeros(3)
Y = np.array(data['y'].values)
alpha = 0.0001

In [4]:
# Define Cost function
def costFunction(X, Y, theta):
    return np.sum((X.T.dot(theta) - Y) ** 2)/(2 * len(Y))

In [5]:
# sigmoid function
def sigmoid(x):
    return 1 / (1 + np.exp(-x))


def LogisticRegression(X,Y,theta):
    cost_iter = []
    for i in range(1000):
        prediction = sigmoid(X.T.dot(theta))    # Prediction
        error = prediction - Y                  # Error 
        gradient = X.dot(error) / len(Y)         # Gradient
        theta = theta - alpha * gradient         # Changing Values of theta using Gradient
        cost_iter.append(costFunction(X, Y, theta))  # New Cost Value
    return theta, cost_iter

In [6]:


#values of ϴ1,ϴ2,ϴ3 
theta, cost_history = LogisticRegression(X, Y, theta)
print("Theta ϴ0: " + str(theta[0]))
print("Theta ϴ1: " + str(theta[1]))
print("Theta ϴ2: " + str(theta[2]))

Theta ϴ0: 0.0010031724400287835
Theta ϴ1: 0.04406544924478623
Theta ϴ2: -0.060366219546358894