In [1]:
#normalize the data in between [0-1] using min-max normalization

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
filename = ("housing.csv")
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
dataset = pd.read_csv(filename, delim_whitespace=True, names=names)

In [4]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
prices = dataset['MEDV']

In [6]:
dataset = dataset.drop(['CRIM','ZN','INDUS','NOX','AGE','DIS','RAD', 'CHAS','PTRATIO','TAX','B'], axis = 1)
features = dataset.drop('MEDV', axis = 1)
dataset.head()

      RM  LSTAT  MEDV
0  6.575   4.98  24.0
1  6.421   9.14  21.6
2  7.185   4.03  34.7
3  6.998   2.94  33.4
4  7.147   5.33  36.2

In [7]:
#normalization using sklearn library
from sklearn import preprocessing
x = dataset.values  # returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
dataset = pd.DataFrame(x_scaled)
dataset.head(5)

          0         1         2
0  0.577505  0.089680  0.422222
1  0.547998  0.204470  0.368889
2  0.694386  0.063466  0.660000
3  0.658555  0.033389  0.631111
4  0.687105  0.099338  0.693333

In [8]:
x1 = dataset[0].values
x2 = dataset[1].values
Y= dataset[2].values

In [9]:
x0 = np.ones(len(x1)) #we assume x0 to be 1 
X = np.array([x0, x1, x2]).T #.T is used to obtain transpose 
# Initial Coefficients of B is assumed to be 0 
#our eqn will be in form of theta0 + theta1*x1 +theta2*x2
theta = np.zeros(3)
Y = np.array(Y)
alpha = 0.0001 #alpha is learning rate

In [10]:
def cost_function(X, Y, theta):
    m = len(Y)
    J = np.sum((X.dot(theta) - Y) ** 2)/(2 * m)
    return J

In [11]:
cost = cost_function(X, Y, theta)
print(cost)

0.09674539598887426

In [12]:
def gradientDescent(X, y, theta, alpha, iters):
    cost_iter = [0] * iters
    #is used to obtain a plot of how gradient descent works 
    m = len(Y)
    
    for i in range(iters):
        # value obtained from hypothesis
      
        # Difference between Hypothesis and Actual Y
        #note that los is calculate for all values so we divide it by m to obtain average loss
        loss = X.dot(theta) - Y
        # Gradient Calculation
        gradient = X.T.dot(loss) / m
        # Changing Values of B using Gradient
        thet = theta - alpha * gradient
        # New Cost Value
        cost = cost_function(X, Y, theta)
        cost_iter[i] = cost
        
    return theta, cost_iter

In [13]:
updated_theta, cost_history = gradientDescent(X, Y, theta, alpha, 3000)
Y_pred=X.dot(updated_theta)

In [14]:
def rmse(Y, Y_pred):
    mse = np.sqrt(sum((Y - Y_pred) ** 2) / len(Y))
    return mse
print(rmse(Y,Y_pred))

0.43987588246884873